<head>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<header>
  <nav>
    <a href="/">Home</a>
    <a href="/patients">Patients</a>
    <a href="/doctors">Doctors</a>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&family=Silkscreen&family=Ubuntu:wght@500&display=swap"
      rel="stylesheet"
    />
  </nav>
</header>
