<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Update Doctor</h1>
    <form action="/doctors/update/<%= doctor._id %>?_method=PUT" method="POST">
      <label for="name">Doctor Name:</label>
        <input type="text" name="name" value = "<%=doctor.name %>" required/>
        <label for="title">Doctor Title:</label>
        <select name="title" required>
          <option value="Surgeon">Surgeon</option>
          <option value="Optometrist">Optometrist</option>
          <option value="Psychiatrist">Psychiatrist</option>
          <option value="Endocronologist">Endocronologist</option>
          <option value="Pediatrician">Pediatrician</option>
        </select>
        <button type="submit">Update Doctor</button>
      </label>
    </form>
  </body>
</html>
