body {
  font-family: "Roboto", sans-serif;
  background-color: #cccccc;
  margin: 0;
  text-align: center;
}
nav {
  background-color: #23408e;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a {
  padding: 16px;
  transition: 0.3s;
  color: white;
  text-decoration: none;
  border: 1px solid #385399;
}

nav a:hover {
  background-color: #385399;
  transition: 0.3s;
}

a {
  color: #00b7ff;
}

table {
  text-align: center;
  display: flex;
}

th {
  background-color: #23408e;
  padding: 5px;
}

td {
  background-color: #385399;
  border-radius: 5px;
  padding: 5px;
}

button {
  transition: 0.3s;
  border: none;
  background-color: #385399;
  padding: 5px;
  margin: 5px;
}

button:hover {
  transition: 0.3s;
  background-color: #23408e;
  cursor: pointer;
}

#update {
  background-color: #ffbe4f;
  transition: 0.3s;
}

#update:hover {
  background-color: #00b7ff;
  transition: 0.3s;
  cursor: pointer;
}

#details {
  background-color: #5982e7;
  transition: 0.3s;
}

#details:hover {
  background-color: #23408e;
  transition: 0.3s;
}

#delete {
  background-color: red;
  transition: 0.3s;
}

#delete:hover {
  background-color: rgb(170, 3, 3);
  transition: 0.3s;
  cursor: pointer;
}

.introP {
  width: 50%;
  margin: 0 auto;
}

.tableContainer {
  display: flex;
  justify-content: center;
}

input {
  display: block;
  margin: 0 auto;
  text-align: center;
}
